<!DOCTYPE html>
<html lang="fr">
  <head>
    <link href="/css/app.css" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connexion</title>
  </head>
  <body>
    <div class="main">
      <div class="connexion">
        <label>Connectez-vous</label>
        <form action="/login" method="POST">
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Utilisateur"
            required
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Mot de passe"
            required
          />
          <button type="submit">Connexion</button>
        </form>
        <p>Vous n'avez pas de compte ? <a href="/register">Créez en un</a></p>
      </div>
    </div>
  </body>
</html>
