<!DOCTYPE html>
<html lang="fr">
  <head>
    <link href="/css/app.css" rel="stylesheet" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enregistrez-vous</title>
  </head>
  <body>
    <div class="main">
      <div class="enregistrement">
        <label>Créez votre compte</label>
        <input type="text" placeholder="Utilisateur" />
        <input type="password" placeholder="Mot de passe" />
        <button>Créer</button>
        <p>Vous avez déjà un compte ? <a href="/login">Connectez-vous</a></p>
      </div>
    </div>
  </body>
</html>
